
<div>
<p id="notice"><%= notice %></p>

<h1>Listing Employers</h1>

<table  class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Location</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.name %></td>
        <td><%= employer.email %></td>
        <td><%= employer.dob.to_date %></td>
        <td><%= employer.location %></td>
        <td><%= employer.phone_number%></td>
        <td><%= link_to 'Show', employer %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
