<!DOCTYPE html>
<html>
<head>
  <title>EmployerRegistration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="navbar navbar-inverse navbar-static-top">
        <ul class="nav navbar-nav navbar-right">
      </div>
    </div>
 </div>
 <div class="container">
    <% flash.each do |key, value| %>
	        <div class="alert <%= flash_class(key) %> " role="alert"><%= value %></div>
	 <% end %>
<%= yield %>
</div>
</body>
</html>
